<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057905423342-7puhjgmq9oquouo3slct0iu5ile0nurl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057905423342-7puhjgmq9oquouo3slct0iu5ile0nurl</string>
	<key>API_KEY</key>
	<string>AIzaSyD-9qGRrlYn3VJBZAOyL6kgny1ftlUQbvE</string>
	<key>GCM_SENDER_ID</key>
	<string>1057905423342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatbee.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-bbe6f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-bbe6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057905423342:ios:9212938f4284a8b99f94ff</string>
</dict>
</plist>